.App {
  text-align: center;
  font-family : 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.planPackage
{
  display:inline-grid;
  padding:10px;
  
}
.cardDesign
{
  background-color:blue;
}
.content
{
  font-size: 1em;
}
.recharge_head
{
  background-color: aqua;
  padding:10px;
}
.checkout{
 position: relative;
 display: inline-block;
 
 border-radius: 25px;
 border: 1px solid black;
 padding:35px;
}
.pay{
  margin: auto;
  height: 200px;
  width: 300px;
  padding: 25px;
}

/* 
margin-left: 30em;
  margin-right: 30em;
  .align{
  text-align: center;
  margin-left:40%;
}

*/